@import '@economist/component-masthead';

.StickyMasthead {
  z-index: 9999999999;
}

.StickyMasthead.sticky .StickyMasthead--hidden {
  display: none;
}

.StickyMasthead:not(.sticky) .StickyMasthead--visible {
  display: none;
}
